.navbar {
    border-bottom: 1px solid #C4D1DA;
}

h1.contact-header {
    font-size: 50px;
    color: white;
    padding: 10px;
    position: absolute;
    top: 200px;
    margin: 0 auto;
    left: 10%;
}

p.contact-header {
    font-size: 25px;
    color: white;
    padding: 10px;
    position: absolute;
    top: 260px;
    margin: 0 auto;
    left: 10%;
}

#image {
    margin-bottom: 50px;
    position: relative;
}

p.font {
    font-size: 25px;
}

.navbar-brand {
    padding: 0px;     
}

li.font {
    font-family: "Abel";
    font-size: 20px;
}

.font{
    font-family: "Abel";
}

p {
    font-family: "Ubuntu";
    margin: 10px;
    text-align: center;
}

p.button {
    font-size: 28px;
}

.navbar-right {
    margin-top: 0px;
}

a.menu:hover {
    color: white;
}

a.menu:active {
    color: white;
}

a.menu {
    color: #3c3c3c;
}

nav {
    background-color: white;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

h1 span {
    font-size: 50px;
    color: #444341;
    background: #DCE3E9;
    padding: 10px;
    position: absolute;
    top: 100px;
    margin: 0 auto;
    left: 35%;
}

p span {
    font-size: 25px;
    color: #444341;
    background: #DCE3E9;
    padding: 10px;
    position: absolute;
    top: 190px;
    margin: 0 auto;
    left: 13%;
}

h1 {
    text-align: center;
}

.divider {
    margin-top: 60px;
    margin-bottom: 60px;
}

hr.light {
    max-width: 80px;
    border-color: #F35F5D;
    border-width: 5px;
    margin-bottom: 30px;
}

.lead {
    margin-bottom: 50px;
}

.bg-purple {
    padding: 40px 0;
    background-color: #9B58B5;
    color: #fff;
    margin: 50px 0;
}

a.workbtn, a.workbtn:link, a.workbtn:visited {
    display: inline-block;
    color: #fff;
    background-color: #9B58B5;
    text-align: center;
    text-decoration: none;
    border: 3px solid #fff;
    padding: 10px 40px;
    font-size: 18px;
    margin-left: 20px;
}

a.workbtn:hover, a.workbtn:active {
    background-color: #fff;
    color: #9B58B5;
}

.row {
    text-align: center;
}

p.jab {
    color: #F35F5D;
}


.bg-cta {
    padding: 60px 0;
    background-color: #34495E;
    color: #fff;
}

a.gitbtn, a.gitbtn:link, a.gitbtn:visited {
    display: inline-block;
    color: #fff;
    background-color: #E84C3D;
    text-align: center;
    text-decoration: none;
    border: 1px solid #34495E;
    padding: 10px 40px;
    font-size: 18px;
    margin-left: 20px;
}

a.gitbtn:hover, a.gitbtn:active {
    background-color: #fff;
    color: #E84C3D;
    border: 1px solid #E84C3D;
}

.bg-foot {
    padding: 30px 0;
    background-color: #2D3E50;
    color: #fff;
}

.listfoot {
    list-style: none;
    text-align: left;
    font-family: "Ubuntu";
}

a.foot {
    color: #fff;
}

.logo {
    padding-top: 50px;
    width: 300px;
    text-align: left;
    margin-left: 60px;
}

.foot1, .foot2 {
    color: white;
    font-size: 18px;
}

a.foot1:hover, a.foot1:focus {
    text-decoration: none;
    color: #9B58B5;
}

a.foot2:hover, a.foot2:focus {
    text-decoration: none;
    color: #E84C3D;
}

#footer {
    margin: 0px;
    padding-top: 20px;
    font-size: 18px;
}

.tittle {
    margin-top: 50px;
}

.img-responsive {
    margin-left: auto;
    margin-right: auto;
}

.google-maps {
    margin-top: 50px;
    position: relative;
    padding-bottom: 40%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#team {
    margin-bottom: 50px;
}

/*hr.fancy-line {
        border: 0; 
    height: 1px;
    position: relative;
        margin: 0.5em 0;  Keep other elements away from pseudo elements
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;half the height of :before 
    top: 1px; height of hr
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: 
        -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: 
        -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: 
        -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%); 
    background: 
        -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: 
        -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

hr.fancy-line:after {
    background: #fff;
}*/